<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Carbon.Git" version="0.9.1" targetFramework="net461" />
  <package id="Carbon.Json" version="1.1.0" targetFramework="net461" />
  <package id="Carbon.Packaging" version="1.0.0" targetFramework="net461" />
  <package id="Carbon.Protection" version="1.2.0" targetFramework="net461" />
  <package id="Carbon.Repositories" version="1.0.0" targetFramework="net461" />
  <package id="Carbon.Storage" version="1.1.0" targetFramework="net461" />
  <package id="Carbon.Versioning" version="1.1.0" targetFramework="net461" />
  <package id="GitHub" version="0.9.1" targetFramework="net461" />
  <package id="System.Text.Encodings.Web" version="4.3.0" targetFramework="net461" />
</packages>